extends layout

block content
  h1= Books
  p Welcome to #{title}
  a(href="/books/new", class="btn-new") Create Book &#43;
  

  each book in books 
    book 
      h3= book.title
      include by_line 
      p= book.description()
      a(href = "/books/" + book.id) Read More &arr;
